PORT=4000

# if you dont have database then set to false
USE_LOCAL_DATA=true

NODE_ENV=development

# replace this string with your real MONGO_URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority


# rename this file from "example.env" to ".env"